<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý nhân viên</title>
    <link rel="stylesheet" href="../static/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/commom/reset.css">
    <link rel="stylesheet" href="../static/css/commom/base.css">
    <link rel="stylesheet" href="../static/css/commom/grid.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/commom/reponsive.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <div class="logo-container">
                <button class="m-icon-btn">
                    <img src="../static/img/toggle.png" alt="" width="24" height="24" >
                </button>
                <div class="logo-box">
                    <img src="../static/img/cukcuk-logo.png" alt="" height="24">
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="header__select-box custom-select custom-select__header">
                <select>
                  <option value="0">Nha hang Bien Dong</option>
                  <option value="1">Audi</option>
                  <option value="2">BMW</option>
                  <option value="3">Citroen</option>
                  <option value="4">Ford</option>
                  <option value="5">Honda</option>
                </select>
                
            </div>
            <div class="header__user">
                <div class="user__icon">
                    <img src="../static/icon/avatar-default.png" alt="" width="35">
                </div>
                <div class="user__name">
                    <span>Đinh Văn Khánh</span>
                </div>
                <div class="user__option">
                    <button class="m-icon-btn">
                        <img src="../static/icon/option.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="body-container">
        <div class="body-left">
            <div class="menu">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="../static/icon/dashboard.png" alt="" width="20" height="20" >
                            <span>Tổng quan</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="../static/icon/report.png" alt="" width="20" height="20" >
                            <span>Báo cáo</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="../static/icon/dashboard.png" alt="" width="20" height="20" >
                            <span>Mua hàng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="../static/icon/dic-employee.png" alt="" width="20" height="20" >
                            <span>Danh mục nhân viên</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="../static/icon/dic-employee.png" alt="" width="20" height="20" >
                            <span>Danh mục nhân viên</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <img src="../static/icon/setting.png" alt="" width="20" height="20" >
                            <span>Thiết lập hệ thống</span>
                        </a>
                    </li>
                </ul>
                <div class="set-size">
                    <button id="m-set-size-btn" class="min-size">
                        <img src="../static/icon/btn-prev-page.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="body-right">
            <div class="body__header">
                <div class="body__header-title">
                    <H1>Danh sách nhân viên</H1>
                </div>
                <div class="body__header-button">
                    <button class="m-btn" id="add-btn">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span>Thêm nhân viên</span>
                    </button>
                </div>
                
            </div>
            <div class="body__row-2">
                <div class="body__select-container">
                    <div class="m-search-container">
                        <div class="m-icon-search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <div class="m-search">
                            <input class="input-search" type="text" placeholder="Tìm kiếm theo tên, số hồ sơ">
                        </div>
                        <button class="m-time disabled">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="custom-select" style="width:200px;">
                        <select>
                          <option value="0">Chọn phòng ban</option>
                          <option value="1">Audi</option>
                          <option value="2">BMW</option>
                          <option value="3">Citroen</option>
                          <option value="4">Ford</option>
                          <option value="5">Honda</option>
                        </select>
                    </div>
                </div>
                <div class="reload">
                    <button class="m-icon-btn">
                        <img src="../static/icon/refresh.png" alt="">
                    </button>
                </div>
            </div>
            <div class="m-table-container">
                <table class="m-table">
                    <thead id="tThead">
                        <tr>
                            <th>
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th propname="STT" type="EmployeeId">STT</th>
                            <th propname="EmployeeCode">
                                <span>Mã nhân viên</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="EmployeeName">
                                <span>Họ và tên</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="GenderName">
                                <span>Giới tính</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="DateOfBirth" type="date">
                                <span>Ngày sinh</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="PhoneNumber">
                                <span>Điện thoại</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="Email">
                                <span>Email</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="EmployeePosition">
                                <span>Chức vụ</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="departmentName">
                                <span>Phòng ban</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="wage">
                                <span>Mức lương cơ bản</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                            <th propname="status">
                                <span>Tình trạng công việc</span>
                                <button class="m-sort-btn">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        <!-- <tr>
                            <td>
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>1</td>
                            <td>MF1112</td>
                            <td>Đinh Văn Khánh</td>
                            <td>Nam</td>
                            <td>09/11/2000</td>
                            <td>0123456789</td>
                            <td>dinhvankhanh102@gmail.com</td>
                            <td>Fresher</td>
                            <td>Phòng sản xuất</td>
                            <td>3.000.000</td>
                            <td>Mới gia nhập</td>
                            
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="m-pagination">
                <div class="m-pagination__view">
                    <span>
                        Hiển thị 01-20/123 lao động
                    </span>
                </div>
                <div class="m-pagination__select">
                    <button class="m-icon-btn m-page-btn">
                        <img src="../static/icon/btn-firstpage.svg" alt="" >
                    </button>
                    <button class="m-icon-btn m-page-btn">
                        <img src="../static/icon/btn-prev-page.svg" alt="">
                    </button>
                    <button class="m-icon-btn m-number-btn selected">
                        1
                    </button>
                    <button class="m-icon-btn m-number-btn">
                        2
                    </button>
                    <button class="m-icon-btn m-number-btn">
                        3
                    </button>
                    <button class="m-icon-btn m-number-btn">
                       4
                    </button>
                    <button class="m-icon-btn m-page-btn">
                        <img src="../static/icon/btn-next-page.svg" alt="" >
                    </button>
                    <button class="m-icon-btn m-page-btn">
                        <img src="../static/icon/btn-lastpage.svg" alt="">
                    </button>
                </div>
                <div class="m-pagination__view">
                    <span>
                        20 lao động/trang
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="modalInfo" class="modal" tabindex="-1" role="dialog">
        
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title-box">
                <h1 class="modal-title">Thông tin nhân viên</h1>
              </div>
              <button id="close-modal-btn" type="button" class="close m-icon-btn" data-dismiss="modal" aria-label="Close">
                <img src="../static/icon/x.svg" alt="" width="24px">
              </button>
            </div>
            <div class="modal-body">
                <div class="modal-body__task">
                    <div class="task task-active">
                        <button class="m-btn m-btn-default" >1.Thông tin chung</button>
                    </div>
                    <div class="task ">
                        <button class="m-btn m-btn-default">2.Thông tin tham gia BHXH</button>
                    </div>
                    <div class="task">
                        <button class="m-btn m-btn-default">3.Dữ liệu gia đình</button>
                    </div>
                    <div class="task">
                        <button class="m-btn m-btn-default">4.Hồ sơ đính kèm</button>
                    </div>
                </div>
                <div class="modal-body__form">
                    <form class="form" id="addStaffForm">
                        <div class="form-container ">
                            <div class="modal-form__infor">
                                <div class="grid">
                                    <div class="row">
                                        <div class="col c-6">
                                            <h2 class="title">A.Thông tin cá nhân</h2>
                                            
                                        </div>
                                        <div class="col c-6">
                                            <h2 class="title">B.Thông tin phòng ban</h2>
                                            
                                        </div>
                                        <!-- <div class="col c-4">
                                            <h2 class="title">C. Thông tin khác</h2>
                                            
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="modal-form__content">
                                <div class="grid">
                                    <div class="row modal-body__form-row">
                                        <div class="col c-6 modal-body__form-col">
                                            <!-- <div class="modal-col__infor">
                                                <h2 class="title">A.Thông tin chung</h2>
                                            </div> -->
                                            <div class="modal-col__content">
                                                <div class="grid">
                                                    <div class="row">
                                                        <div class="form-group col c-6">
                                                            <label for="">Mã nhân viên</label>
                                                            
                                                            <div class="m-search-container">
                                                                <!-- <div class="error-mesage-container">
                                                                    <div class="error-mesage">
                                                                        <span class="">
                                                                            Mật khẩu không được trùng với tài khoản
                                                                        </span>
                                                                    </div>
                                                                    <div class="m-arrow"></div>
                                                                </div> -->
                                                                <div class="m-search">
                                                                    <input rules="required" name="EmployeeCode" class="input-search" 
                                                                    type="text" placeholder="Mã nhân viên">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col c-6">
                                                            <label for="">Tên nhân viên</label>
                                                            <div class="m-search-container">
                                                                <div class="m-search">
                                                                    <input rules="required|min:6" name="EmployeeName" class="input-search" type="text" 
                                                                    placeholder="Tên nhân viên">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        
                                                        <div class="form-group col c-6">
                                                            <label for="">Ngày sinh</label>
                                                            <input class="input-text input-date" type="date" name="DateOfBirth" >
                                                        </div>
                                                        <div class="form-group col c-6">
                                                            <label for="">Giới tính</label>
                                                            <div class="custom-select">
                                                                <select rules="required" name="Gender">
                                                                  <option value>Chọn giới tính</option>
                                                                  <option value="1">Nam</option>
                                                                  <option value="0">Nữ</option>
                                                                  <option value="2">Khác</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="row">
                                                        <div class="form-group col c-6">
                                                            <label for="">Số điện thoại</label>
                                                            <div class="m-search-container">
                                                                <div class="m-search">
                                                                    <input name="PhoneNumber" class="input-search" type="text" placeholder="Số điện thoại">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col c-6">
                                                            <label for="">Số CMTND/CCCD</label>
                                                            <div class="m-search-container">
                                                                <div class="m-search">
                                                                    <input rules="required" name="IdentityNumber" class="input-search" type="text" placeholder="Số CMTND/CCCD">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col c-6">
                                                            <label for="">Ngày cấp</label>
                                                            <input name="IdentityDate" class="input-text input-date" type="date" placeholder="Tìm kiếm theo tên, số hồ sơ">
                                                        </div>
                                                        <div class="form-group col c-6">
                                                            <label for="">Nơi cấp</label>
                                                            <div class="m-search-container">
                                                                <div class="m-search">
                                                                    <input name="IdentityPlace"  class="input-search" type="text" placeholder="Nơi cấp">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col c-12">
                                                            <label for="">Email</label>
                                                            <div class="m-search-container">
                                                                <div class="m-search">
                                                                    <input rules="required|email" name="Email" class="input-search" type="text" placeholder="Email">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col c-6 modal-body__form-col">
                                            <!-- <div class="modal-col__infor">
                                                <h2 class="title">B.Thông tin mức đóng</h2>
                                            </div> -->
                                            <div class="modal-col__content">
                                                <div class="grid">
                                                    <div class="row">
                                                        <div class="form-group col c-12">
                                                            <label for="">Vị trí</label>
                                                            <div class="m-search-container">
                                                                <div class="m-search">
                                                                    <input name="EmployeePosition" class="input-search" type="text" placeholder="Vị trí">
                                                                </div>
                                                                <button class="m-time disabled">
                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col c-12">
                                                            <label for="">Phòng ban</label>
                                                            <div class="custom-select">
                                                                <select name="DepartmentId">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="m-btn m-btn-default">
                    <span>Hủy</span>
                </button>
                <button id="addStaffBtn" class="m-btn">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    <span>Lưu và thêm mới</span>
                </button>
                
            </div>
          </div>
        </div>
    </div>
    
    <script type="module" src="../static/js/quanlynhanvien.js"></script>
    <script>
        var x, i, j, l, ll, selElmnt, a, b, c;
        /*look for any elements with the class "custom-select":*/
        x = document.getElementsByClassName("custom-select");
        l = x.length;
        for (i = 0; i < l; i++) {
          selElmnt = x[i].getElementsByTagName("select")[0];
          ll = selElmnt.length;
          /*for each element, create a new DIV that will act as the selected item:*/
          a = document.createElement("div");
          a.setAttribute("class", "select-selected");
          a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
          x[i].appendChild(a);
          /*for each element, create a new DIV that will contain the option list:*/
          b = document.createElement("DIV");
          b.setAttribute("class", "select-items select-hide");
          for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function(e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                  if (s.options[i].innerHTML == this.innerHTML) {
                    s.selectedIndex = i;
                    h.innerHTML = this.innerHTML;
                    y = this.parentNode.getElementsByClassName("same-as-selected");
                    yl = y.length;
                    for (k = 0; k < yl; k++) {
                      y[k].removeAttribute("class");
                    }
                    this.setAttribute("class", "same-as-selected");
                    break;
                  }
                }
                h.click();
            });
            b.appendChild(c);
          }
          x[i].appendChild(b);
          a.addEventListener("click", function(e) {
              /*when the select box is clicked, close any other select boxes,
              and open/close the current select box:*/
                e.stopPropagation();
              closeAllSelect(this);
              this.nextSibling.classList.toggle("select-hide");
              this.classList.toggle("select-arrow-active");
            });
        }
        function closeAllSelect(elmnt) {
            
          /*a function that will close all select boxes in the document,
          except the current select box:*/
          var x, y, i, xl, yl, arrNo = [];
          x = document.getElementsByClassName("select-items");
          y = document.getElementsByClassName("select-selected");
          xl = x.length;
          yl = y.length;
          for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                // console.log(elmnt)
              arrNo.push(i)
            } else {
              y[i].classList.remove("select-arrow-active");
            }
          }
        //   console.log(arrNo)
          for (i = 0; i < xl; i++) {
            // console.log(x[i])
            var abc = arrNo.indexOf(i)
            if (abc) {
                // console.log(abc)
              x[i].classList.add("select-hide");
            }
          }
        }
        /*if the user clicks anywhere outside the select box,
        then close all select boxes:*/
        document.addEventListener("click", closeAllSelect);
    </script>
    <script src="../static/js/validation.js"></script>
    <script type="module" src="../static/js/employees.js"></script>
    <script type="module" src="../static/js/style.js"></script>

    <script>
        const employseestApi = 'http://amis.manhnv.net/api/v1/Employees'
        var form = new Validator('#addStaffForm')
        form.onSubmit = function(dataForm){
            
            console.log(JSON.stringify(dataForm))
            fetch(employseestApi, {
                    method: 'POST', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(dataForm),
                })
                .then(response => response.json())
                .then(dataForm => {
                    console.log('Success:', dataForm);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
</html>